
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

@model StockProject.Entities.Entities.User

<div class="col-lg-6 offset-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Kullanıcı Güncelle</strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center">Kullanıcı</h3>
                                        </div>
                                        <hr>
                                        <input type="hidden" asp-for="Id"/>
                                        <form asp-action="UpdateUser" method="post" novalidate="novalidate">
                                           
                                            <div class="form-group">

                                                <label asp-for="FirstName"  class="control-label mb-1">Kullanıcı Adı</label>
                                                <input asp-for="FirstName"  type="text" class="form-control" aria-required="true" aria-invalid="false" >
                                            </div>

                                            <div class="form-group has-success">
                                                <label  asp-for="LastName"  class="control-label mb-1">Kullanıcı Soyadı</label>
                                                <input  asp-for="LastName" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">

                                            </div>
                                            <div class="form-group has-success">
                                                <label  asp-for="Email"  class="control-label mb-1">E-mail</label>

                                                <input  asp-for="Email" type="email" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                               
                                            </div>
                                           
                                            <div class="form-group has-success">
                                                <label  asp-for="Phone"  class="control-label mb-1">Telefon</label>
                                                <input  asp-for="Phone" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                               
                                            </div>
                                            <div class="form-group has-success">
                                                <label  asp-for="Address"  class="control-label mb-1">Adres</label>
                                                <input  asp-for="Address" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                            </div>
                                             <div class="form-group has-success">
                                                 <label asp-for="Role"></label>
                                                <select asp-for="Role">
                                                    <option value="">Kullanıcı İçin Bir Rol Seçiniz</option>
                                                    @foreach (var value in ViewBag.EnumValues) 
                                                    { 
                                                        <option value="@((int)value)">@value</option> 
                                                    } 
                                                </select>
                                            </div>

                                             <div class="form-group has-success">
                                                <label  asp-for="Password"  class="control-label mb-1">Şifre</label>
                                                <input  asp-for="Password" type="password" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                            </div>

                                                <button type="submit" class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">Kullanıcı Güncelle</span>
                                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                                </button>
                                            
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- .card -->

                    </div><!--/.col-->



